/*
 * Estilos para nosso formulário.
 */
 fieldset { padding: 10px; }

 h2 { 
    font-family: Caladea, Georgia;
    font-size: 20px;
    margin-top: 10px;
} 

p {
    font-size: 16px;
    margin: 10px 0;
}