#areamenu, navbar { width: 100%; }

/*
 * Formatando o texto dos itens do menu.
 */
#menu { font-size: 18px }

/*
 * Permite que os itens do menu 
 * apareçam lado a lado, como
 * blocos.
 */
#menu li {
    background-color: #CCD5AE;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
    padding: 10px 0;
    text-align: center;
    width: 130px;
}

/*
 * Esconder os sub-itens quando o mouse não está sob eles.
 */
#menu li ul { display: none; }

/*
 * Estilizar links do menu.
 */
#menu li span, #menu li a {
    color: black;
    text-decoration: none;
}

/*
 * Efeito para quando passar o mouse
 * em cima de um elemento.
 */
#menu li:hover { 
    background-color: silver;
    cursor: pointer;
 }

 /*
  * Faz com que os subitens apareçam
  * quando o mouse estiver sobre o menu.
  */
#menu li:hover ul {
     display: block;
     margin-top: 10px;
     position: absolute;
     z-index: 99;
} 

/*
 * Faz com que os subitens fiquem um abaixo do outro.
 */
#menu li ul li { float: none }