/*
 * Remover as margens e preenchimentos 
 * de todos os elementos
 */
* {
    margin: 0;
    padding: 0;
}

/*
 * Espaço entre sessões do documento.
 */
.quebra { clear: both }

/*
 * Definido uma cor de fundo.
 */
body { background-color: aliceblue }


/*
 * Estilizando o título da página.
 */
h1 {
    color: blueviolet;
    font-family: Caladea;
    font-size: 72px;
    text-transform: uppercase;
}

/*
 * Estilizando os parágrafos de texto
 * da página.
 */
p {
    font-family: Montserrat, 'Times New Roman', Serif;
    font-size: 14px;
    line-height: 28px;
    margin-top: 20px;
}

/*
 * Definindo uma largura máxima 
 * pro conteúdo da página e
 * centralizando ele.
 */
div#container {
    margin: auto;
    max-width: 800px;
}
